<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="life.lovestudy.mapper.MenuMapper" >
    <!--
    private int id;
	private String name;    // 当前路由所具备的业务意义，比如说 /per/train 代表着“员工培训”，这里的员工培训就是name值
	private String path;    // 路由地址  /per/train
	private String component;   // 路由所对应的组件名称 PerTrain
	private String iconClz;     // 路由图标的 class 样式 “fa fa-user-circle-o”
	private int parentId;   // 当前路由的父亲路由
	private boolean isEnable;   // 当前路由是否被禁用
	private Meta meta;  //  路由元数据
    -->
    <insert id="saveOne" parameterType="Menu" >
        insert into menu(name, path, component, icon_clz, parent_id, is_enable, keep_alive, require_auth)
        values (#{name}, #{path}, #{component}, #{iconClz}, #{parentId}, #{isEnable}, #{meta.keepAlive}, #{meta.requireAuth})
    </insert>

</mapper>